.badge {
    position: relative;
    margin: 10px;
    padding: 10px;
    min-width: 150px;
    background: #79d856;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    border-radius: 10px;
}

.badgeTip {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    background: red;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    width: 15px;
    height: 15px;
}

