.logo {
    color: #ffffff;
    font-size: 45px;
    font-weight: bolder;
    -webkit-text-stroke-width: 2px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.text-blue {
    color: #2e294e;
    -webkit-text-stroke-color: #2e294e;
}

.text-yellow {
    color: #e71d36;
    -webkit-text-stroke-color: #e71d36;
}

.dice {
    display: inline-flex;
    position: relative;
    border: 1px solid #000;
    padding: 10px;
    width: calc(100% / 10);
    max-width: 50px;
    height: auto;
    margin: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: radial-gradient(circle at 50% top, #f8f8f8 60%, #d9d9d9 85%, #cccccc 90%);

}

.dice::before {
    content: '';
    position: absolute;
    display: inline;
    background: transparent;
    width: 80%;
    height: 80%;
    top: 10%;
    border: 1px solid #cccccc;
    border-radius: 100px;
}

#logoOne,
#logoSix {
    top:10px;
    transform: rotate(-10deg);
}

#logoTwo,
#logoFive {
    transform: rotate(10deg);
}

#logoThree {
    top: 10px;
    transform: rotate(160deg);
}

#logoFour {
    top: 10px;
    transform: rotate(30deg);
}

