.tile {
    width:  calc(100%/5);
    height: calc(100%/5);
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: calc(48px + 6vmin);
    color: #EDDEA4;
    text-align: center;
    background: white;
    border-radius: 20px;
    margin: 2%;
}


