.listWrapper {
    display: block;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}


.listWrapper .listItem {
    width: calc(100%/3);
    display:inline-block;
    font-size: 20px;
    border: none;
    color: #F7A072;
    padding-top: 10px;
}
