.inputWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}


.inputWrapper .input {
    font-size: calc(20px + 6vmin);
    border: none;
    color: #F7A072;
    text-align: center;
}

.inputWrapper .label {
    font-size: calc(48px + 6vmin);
    background: blue
}